<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
	<display-name>WebShopBeta</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	
		<!-- Errorpages -->
	<error-page>
		<error-code>401</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>403</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>406</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>411</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>416</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>420</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>421</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>422</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>423</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>424</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>425</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>426</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>428</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>429</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>431</error-code>
	  	<location>/error/default</location>
	</error-page> 
	
	<error-page>
		<error-code>500</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>502</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>506</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>507</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>508</error-code>
	  	<location>/error/default</location>
	</error-page>
	<error-page>
		<error-code>509</error-code>
	  	<location>/error/default</location>
	</error-page>   
	<error-page>
		<error-code>510</error-code>
	  	<location>/error/default</location>
	</error-page>
	   
</web-app>
